body{
    padding-top: 100px;
}



.grid_container_training{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows:auto ;
    row-gap: 100px;
    column-gap: 30px;
    margin-left: 20px;
    margin-top: 50px;
    
}


.grid_item1_training{
    grid-column: 2 / 4 ;
    grid-row: 1 / 2;
    align-self: center;
    

}


.grid_item2_training{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
    border-color: rgb(205, 222, 238);
    border-width: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    text-align: center;
    font-size: 11px;
}

.grid_item3_training{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
   
    border-color: rgb(205, 222, 238);
    border-width: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    text-align: center;
    font-size: 11px;
}


.grid_item4_training{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
   
    border-color: rgb(205, 222, 238);
    border-width: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    text-align: center;
    font-size: 11px;
}

.grid_item5_training{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
   
    border-color: rgb(205, 222, 238);
    border-width: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    text-align: center;
    font-size: 11px;
}



.flexbox_layout_jugendarbeit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 100px;
}


.flexbox_item{
    flex-basis: 50px;
    max-width: 35%;
}


.flexbox_item4 ul li{
    list-style-type: square;
    margin-bottom: 5px;
    font-family: Roboto, Arial;
    font-size: 14px;
}